= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation.alert.alert-block.alert-error
      %a.close{'data-dismiss' => 'alert', :href => '#'} x
      %h4.alert-heading= "Sorry, #{pluralize(@message.errors.count, "error")} occurred…"
      - @message.errors.full_messages.each do |msg|
        %p= msg

  .field
    = f.label :name
    = f.text_field :name, class: 'span12', placeholder: 'First and last name'
  .field
    = f.label :email
    = f.email_field :email, class: 'span12', placeholder: 'Email Address'
  .field
    = f.label :phone
    = f.telephone_field :phone, class: 'span12', placeholder: 'Phone Number'
  .field
    = f.label :company
    = f.text_field :company, class: 'span12', placeholder: 'Company Name'
  .field
    = f.label :content, "Message"
    = f.text_area :content, class: 'span12', rows: '5'
  .actions
    = f.submit 'Send Message', class: 'btn btn-primary'


/ %form
/   %fieldset
/     .controls
/       %label Name
/       %input.span12{:placeholder => "First and last name", :type => "text"}
/       %label Email
/       %input.span12{:placeholder => "Email Address", :type => "text"}
/       %label Phone Number
/       %input.span12{:placeholder => "555-555-5555", :type => "tel"}
/       %label Company
/       %input.span12{:placeholder => "Company Name", :type => "text"}
/       %label Message
/       %textarea.span12{:rows => "5"}
/       %br
/       %button.btn{:type => "submit"} Submit
