= form_for @message, :url => post_newsletters_lead_path do |f|
  - if @message.errors.any?
    #error_explanation.alert.alert-block.alert-error
      %a.close{'data-dismiss' => 'alert', :href => '#'} x
      %h4.alert-heading= "Sorry, #{pluralize(@message.errors.count, "error")} occurred…"
      - @message.errors.full_messages.each do |msg|
        %p= msg

  .field
    = f.label :name
    = f.text_field :name, class: 'span12', placeholder: 'First and last name'
  .field
    = f.label :email
    = f.email_field :email, class: 'span12', placeholder: 'Email Address'
  .field
    = f.label :phone
    = f.telephone_field :phone, class: 'span12', placeholder: 'Phone Number'
  .field
    = f.label :company
    = f.text_field :company, class: 'span12', placeholder: 'Company Name'
  .actions
    = f.submit 'Request Info Today', class: 'btn btn-primary btn-large'
