%h1 User Account Information

/ %table.table.table-striped
/   %tbody
/     %tr
/       %td
/         %strong User Name
/       %td= @user.username
/     %tr
/       %td 
/         %strong Email Address
/       %td= @user.email
%table.table.table-striped
  %thead
    %tr
      %th User Name
      %th Email Address
      %th Roles
      %th Last Request At
  %tbody
    %tr
      %td= @user.username
      %td= @user.email
      %td= @user.roles.collect {|role| role.humanize}.to_sentence
      %td= @user.last_request_at

%h2 Login Information
%table.table.table-striped
  %thead
    %tr
      %th Login Count
      %th Failed Login Count
      %th Current Login At
      %th Last Login At
      %th Current Login IP Address
      %th Last Login IP Address
  %tbody
    %tr
      %td= @user.login_count
      %td= @user.failed_login_count
      %td= @user.current_login_at
      %td= @user.last_login_at
      %td= @user.current_login_ip
      %td= @user.last_login_ip

.form-actions
  -if can? :read, User
    = link_to "List Users", users_path, :class => 'btn'
  -if can? :edit, User
    = link_to "Edit", edit_user_path(@user), :class => 'btn'
  -if can? :distroy, User
    = link_to "Delete", user_path(@user), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
