= form_for @department, :html => { :class => "form-stacked inner-stand-out-bottom inner-stand-out-full-width"} do |f|
  -if @department.errors.any?
    #error_explanation
      %h2= "#{pluralize(@department.errors.count, "error")} prohibited this department from being saved:"
      %ul
        - @department.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions.inner-stand-out-bottom.inner-stand-out-full-width
    = f.submit 'Save', :class => 'btn primary'
