%section
  .container#about-us
    .container-page
      .row-fluid
        %h2
          About Fresh Thyme Farmers Market

        %h3
          A NEW Healthy and Fresh way to grocery shop is taking root in the Midwest!
        
        = image_tag "about-us/shopper.jpg"
        
        %p
          At Fresh Thyme Farmers Markets we believe you shouldn’t have to give away the farm to feed your body nutritious food. We’re on a mission to improve the way our communities eat by offering fresh and healthy food at amazing values, in a vibrant and fun shopping environment, with smiling friendly faces. Our stores don’t follow traditional grocery store design, nor do they have tall aisles or glitzy fixtures. In fact, our stores are so simple and easy to navigate that we don’t number our aisles or hand out store maps. We believe shopping for fresh and healthy food should be easy and enjoyable.     

        %h3
          Fresh. Healthy. Natural. It’s Thyme!

        %p
          The foundation of healthy eating is often based on incorporating more fresh fruits and vegetables in our diets. Therefore, at the core of our offerings is an abundant produce department, overflowing with fruits and vegetables, fresh from the farm, often locally grown and much of it organic. We’re so passionate about produce that we’ve made it the nucleus of the store, ensuring the bounty of fruits and vegetables is visible from all other departments.  

        %p
          Surrounding the produce department you’ll find natural meat, raised without hormones and antibiotic free, seafood flown in daily, hearty breads and sweet treats from local artisan bakeries and hot out of our ovens, healthy meals made in our kitchens which are ready to eat on the run, barrels full of natural and organic bulk foods, locally roasted organic coffee beans, aisles of nutritious and delicious groceries, earth-friendly cleaning supplies, specialty foods, gluten free and dairy free options, plus a whole department filled with vitamins, supplements and pure body care products. 

        %p
          We’ve combined the spirit of a weekend farmers market, and the convenience of a neighborhood store, with the nutritious offerings of a natural food marketplace to create a NEW and healthy shopping experience in the Midwest, which will nourish your body while your pocket book prospers.  

        %p
          As you shop our stores you’ll find yourself on an adventure that will take you back to the good ol’ days when food was pure, simple, nutritious and delicious.  

        %p
          We think you’ll enjoy our FRESH food at refreshingly LOW prices!

      .row-fluid
        .span6
          %h4
            Fresh Fruits & Vegetables

          = image_tag "about-us/produce.jpg"
          %p
            Every day we celebrate mother nature’s fruitful bounty by sourcing seasonal produce from local farms, organic items from reputable growers and freshly picked, quality fruits and vegetables fresh from the fields.  Our produce buyers build long-standing relationships with our grower partners, negotiate well and buy direct from farms to bring great value fruits and vegetables to our stores. We’ve made this department the nucleus of our store because we believe it’s at the heart of healthy eating.
        
        .span6
          %h4
            Bulk Foods

          = image_tag "about-us/bulk-foods.jpg"
          %p
            Buying in bulk just makes cents! By reducing packaging and cardboard, buying from our bulk department is both earth friendly and and wallet friendly. Whether it’s an ounce or a pound you’re looking for, you can buy the exact quantity of product you need at any given time. So feel free to experiment with over 300 differenct barrels and bins full of bulk goodness. We have everything from organic grains, beans and flours, to nuts, seeds and trailmixes. Looking for a new breakfast option? Explore the granolas, breakfast cereals, dried fruit and oatmeal. If your sweet tooth is calling, stroll over to the bulk candy section. Be sure to try our yogurt covered pretzels…yum! Locally roasted small-batch coffee beans are a signature item in this department. We source fair-trade and organic coffee beans from around the world, roast them in small batches locally and truck them right to the stores.

      .row-fluid
        .span6
          %h4
            Seafood

          = image_tag "about-us/seafood.jpg"
          %p
            Wild seafood from pure waters is one of our customers’ favorite sources of healthy lean protein. We bring a wide array of seafood to our stores at a great value, every day. Our Seafood buyers travel to Alaska to source the best salmon available and coast-to-coast, securing sustainable fish to be delivered to our stores daily. At the store we marinate, stuff and kabob fish to create flavorful options for your healthy dinner.

        .span6
          %h4
            Meat

          = image_tag "about-us/meat.jpg"
          %p
            Our guests and team members love our natural meat offerings at conventional prices! Our meat departments are a throw back to the good ol’ days when you could order custom-cut meats at your neighborhood store and the sausage was hand-made, fresh, every day by your local butcher. Yup, that’s right, we make over a dozen varieties of sausage, every day in every store, marinate fresh natural cuts of meat, make creative ready-to-cook meat entrees to impress your guests, skewer kabobs and thick-cut steaks for your ourdoor BBQ and make fresh meatloaf for your family meals. We source grass-fed beef and offer healthy options like bison and organic poultry and beef. We even have fresh lamb on a daily basis.  When it comes to Thanksgiving, our guests rave about our fresh, free-range, natural turkey… It’s sure to be a hit at your next holiday gathering!

      .row-fluid
        .span6
          %h4
            Deli

          = image_tag "about-us/deli.jpg"
          %p
            Looking for a healthy meal on the go? Sometimes life is too busy to prepare food at home, so stop by our Fresh Thyme deli for some fresh options! We slice our deli meats and cheeses to order, make sandwiches to your liking and have nutritious and delicous salads every day. Our heat-n-eat meals bring convenience to a whole new level. If you’re entertaining, pick up healthy dips, like hummus or bababganoush. Or visit our extensive olive bar and international cheese case for a variety of gourmet appetizer ideas.  For a quick family meal, swing by for a hot and ready natural rotisserie chicken. We’ve been told they’re the best in town!

        .span6
          %h4
            Bakery

          = image_tag "about-us/bakery.jpg"
          %p
            Artisan breads, freshly baked rolls, and delightful treats abound in our Fresh Thyme bakery. We bake every day, in every store and partner with local bakeries to bring you an array of baked goods. If you’re living gluten free, fret not…we’ve taste tested and approved amazing gluten-free muffins, cupcakes, waffles, breads and more. Many of our products are alternatively sweetened as well.

      .row-fluid
        .span6
          %h4
            Grocery
          %p
            When transitioning to a healthier lifestyle, it’s helpful to begin the journey by stocking your pantry with natural, organic and healthy groceries. This will reduce the amount of highly processed, artificially colored, artificially flavored, high sugar, high sodium, high-fat foods you consume and also eliminate MSG, hydrogenated oils and chemicals from your diet. Take a walk down our aisles and you’ll find healthy, pure, whole-grain, organic and natural options which will nourish your body and taste great! Sprinkled throughout our aisles you’ll also find some of your favorite conventional products as well. We’re here for you wherever you might be on your journey to health. If you’re caring for little ones, whether they have two feet or four, you’ll appreciate the organic and whole-food options made with high-quality ingredients. For those with special dietary needs, we have hundreds of gluten-free, low sodium and alternatively sweetened products. Let’s all do our part to create a brighter future for our children by using earth-friendly cleaning products and recycled, recyleable and chemical-free paper goods; all of which are available in our non-foods grocery aisle.

        .span6
          %h4
            Dairy

          = image_tag "about-us/dairy.jpg"
          %p
            Fresh from the farm…organic milk, cage-free eggs, greek yogurt, fresh juice and so much more! In addition to traditional dairy offerings, we love our dairy-alternative options like: almond milk, soy milk, rice milk, tofu, and other vegan alternatives. Did you know almond milk has more calcium than cow’s milk? Give it a try, we think you’ll enjoy the taste!

      .row-fluid
        .span6
          %h4
            Frozen

          = image_tag "about-us/frozen.jpg"
          %p
            The convenience factor for frozen natural foods is exploding with popularity! Were you out of town and just returned home to an empty fridge? Well, picture yourself reaching into a nicely stocked freezer filled with organic and natural options. Pull out organic broccoli, natural sweet potato fries and a piece of frozen cod. Within 30 minutes you’ll have a highly nutritious dinner filled with fiber, lean protein, potassium and other vitamins and minerals. If you’re looking for an antioxidant punch in your protein shake, add a handful of frozen organic berries. Breakfast is the most important meal of the day, so grab an organic breakfast burrito or a whole-grain and gluten-free waffle. Exploring the frozen aisles could keep your healthy eating on track, even on the busiest of days. The possibilities are endless!

        .span6
          %h4
            Vitamins

          = image_tag "about-us/vitamins.jpg"
          %p
            A healthy body needs vitamins and minerals to nurish proper cell growth. Whether you’re a novice or an expert in this area, you’ll be pleased by the thousands of high-quality products available in this department: vitamins, minerals, homeopathic remedies, protein powders and more. You’ve seen them on the news and you’ve heard the benefits, but what you might not have heard is that the quality of vitamins you choose is just as important. Many drug-store options are much lower quality and contain artificial colors, artificial flavors and more. If you’re making the choice for health, visit with one of our friendly team members who will introduce you to our high-quality vitamins and get you on your path to optimal wellbeing.

      .row-fluid
        .span6
          %h4
            Body Care

          = image_tag "about-us/body.jpg"
          %p
            Did you know your skin is the largest organ in the body? As we care for the rest of our body, so must we nurish and protect our largest organ. From paraben-free lotions, to fragrance –free shampoos and aluminum-free deodorant, you’ll find all the skin essentials on our shelves. Natural sun care is especially important these days as is natural make-up and facial care products. And perhaps most important, is natural care for the sensitive skin of our precious babies. Let your beauty shine with natural body care products!

        .span6
          %h4
            Check out what’s being said about Fresh Thyme in the Press:
          %a{:href => "http://newhope360.com/news-amp-analysis/fresh-thyme-farmers-market-chain-debut-chicago-suburb?cid=nl_360_daily"}
            = image_tag "about-us/article-image.jpg"
