= stylesheet_link_tag "index"

.container
  .row-fluid
    .span12
      .row-fluid
        .span9
          = link_to image_tag("index/main-image.jpg"), locations_path
        .span3
          %div
            = link_to image_tag("index/side-image-1.jpg"), "/about_us"
          %div
            = link_to image_tag("index/side-image-2.jpg"), "/contact_us"

  .row-fluid
    .span12
      %p.link
        For information about the Thriftway group, please contact
        %strong= link_to "Northwest Grocers", "http://www.northwestgrocers.com", :target => "_blank"


.container
  %section#row3
