%section
  .container#team
    .container-page
      %h2
        Meet the Fresh Thyme Team
      %p
        The Fresh Thyme leadership team has extensive grocery experience and a passion for the natural food and farmers market concepts. The majority of our team has worked together for over 10 years, building a successful company of over 40 farmers market stores throughout the Southwestern states, which later merged with a larger company.

      %p
        Passionate about the farmers market concept, the team has gathered together again to create a new company offering fresh, natural and healthy food at great values to 12 Midwestern states. We plan to open 50 stores in the next seven years, bringing over 3,500 new jobs to the region. Join us on our journey as we create Fresh Thyme Farmers Market from the ground up. We’re very excited about taking root in the Midwest and look forward to a bright future!

      .row-fluid
        .span4
          .team-member
            = image_tag "team/chris.jpg", :width=> "332", :height=> "418"
            %h3
              Chris Sherrell
            %h4
              President and Chief Executive Officer
            %p
              Chris Sherrell, our President and Chief Executive Officer, founded Fresh Thyme Farmers Markets in 2012 to offer the Midwest a new healthy and fresh grocery shopping experience.  Chris began his career in the grocery business as a teenager and has spent over 20 years in the natural food and farmers market segments of retail.
              %a#trigger-chris.trigger Read more...

            %p#more-chris
              Most recently Chris led Sunflower Farmers Markets as President and Chief Executive Officer. Under Chris’ leadership Sunflower employed over 3,000 team members, grew from one store to 44 stores throughout eight Southwestern states and then went on to merge with Sprouts Farmers Market. Chris has in-depth experience in almost every facet of the natural and farmers-market grocery business which he gained during his years at Wild Oats Markets and Sunflower Farmers Markets. Prior to his role as President and CEO at Sunflower, Chris held the position of Chief Operating Officer and led all aspects of operations, purchasing, sales, merchandising & marketing, as well as holding executive roles and a seat on the Board of Directors for Sunflower. Chris has a passion for developing a strong company culture with a positive team who has similar values.

        .span4
          .team-member
            = image_tag "team/jim.jpg", :width=> "332", :height=> "418"
            %h3
              Jim McCloskey
            %h4
              Chief Financial Officer

            %p
              Jim McCloskey, our Chief Financial Officer, brings over 25 years of leadership experience at high-profile companies, including Sunflower Farmers Markets, Red Robin Gourmet Burgers, Avalon Software and Famous Amos Cookies.
              %a#trigger-jim.trigger Read more...

            %p#more-jim
              Most recently at Sunflower, Jim held the Chief Financial Officer position and led the Real Estate and Construction teams. Jim has experience taking companies public, (Red Robin Restaurants), and has extensive knowledge of both public and private sectors. As a CFO, Jim has always been focused on companies’ growth, increasing sales, introducing strategic company initiatives and improving execution.

        .span4
          .team-member
            = image_tag "team/brandon.jpg", :width=> "332", :height=> "418"
            %h3
              Brandon Bagley
            %h4
              Executive Vice President of Sales, Merchandising & Marketing
            %p
              Brandon Bagley, our Executive Vice President of Sales, Merchandising and Marketing, brings over 25 years of experience in the food and retailing industry, most recently as the Chief Operating Officer at SweetLeaf Stevia.
              %a#trigger-brandon.trigger Read more...
            
            %p#more-brandon
              Brandon has held key leadership positions at Smith’s Food & Drug, Wild Oats Markets, Whole Foods Markets and Henry’s Farmers Markets. At Henry’s Farmers Market Brandon held the position of Vice President of Sales, Merchandising & Marketing, where he oversaw all aspects of sales, merchandising, marketing, advertising, procurement, pricing and private label.

      .row-fluid
        .span4
          .team-member
            = image_tag "team/fran.jpg", :width=> "332", :height=> "418"
            %h3
              Fran Windsor
            %h4
              Vice President of Legal
            %p
              Fran Windsor is the Vice President, General Counsel and Secretary of the Company. She has over 25 years of legal experience and joins us from Sunflower, where she served as General Counsel for several years and prior to that as outside legal counsel for Sunflower.
              %a#trigger-fran.trigger Read more...

            %p#more-fran
              She has extensive experience in the commercial real estate world and has represented companies of all sizes in-house and as outside counsel in a broad range of business areas, including commercial leasing, finance, acquisitions, mergers, licensing, and dispute resolution. She began her legal career in the Phoenix based office of Quarles & Brady LLP.

        .span4
          .team-member
            = image_tag "team/tracy.jpg", :width=> "332", :height=> "418"
            %h3
              Tracy Lindsey
            %h4
              Vice President of Construction
            %p
              Tracy Lindsey, our Vice President of Construction, has over 20 years of development and construction experience for grocery stores and restaurants, five of which for Wild Oats and Henry’s Farmers Market.
              %a#trigger-tracy.trigger Read more...

            %p#more-tracy
              Tracy has strengths in design, is a Certified Supermarket Designer, and has in-depth knowledge of commercial LEED building practices. In addition to Wild Oats and Henry’s, Tracy has held construction leadership positions with United Supermarkets, Ruth’s Chris, Fleming and SuperValu.

        .span4
          .team-member
            = image_tag "team/dave.jpg", :width=> "332", :height=> "418"
            %h3
              Dave Bernier
            %h4
              Director of Operations
            %p
              Dave Bernier, our Director of Operations, has over 30 years of grocery experience, 15 of which in the natural food and farmers market segments.
              %a#trigger-dave.trigger Read more...

            %p#more-dave
              Dave has held a variety of leadership operational roles at Edward’s Food Stores, Shaw’s Supermarkets, Wild Oats Markets and most recently at Sunflower Farmers Markets, as Director of Store Operations. Dave is passionate about creating a happy and upbeat workplace for team members and is fanatical about offering friendly service for our guests. 

      .row-fluid
        .span4
          .team-member
            = image_tag "team/daniel.jpg", :width=> "332", :height=> "418"
            %h3
              Daniel Sinclair
            %h4
              Director of Grocery & Natural Living
            %p
              Daniel Sinclair, our Director of Grocery and Natural Living, has over 20 years of grocery retail experience, 15 of which in the natural and farmers market segments.
              %a#trigger-daniel.trigger Read more...

            %p#more-daniel
              Most recently Daniel held the roles of Director of Private Label and Director of Grocery at Sunflower Farmers Markets. Prior to his time at Sunflower, Daniel worked for Wild Oats Markets in New Store Operations, as a Store Director and as a Regional Grocery Merchandiser. Daniel has a passion for sourcing unique and delicious products from all around the world for top notch private label offerings.

        .span4
          .team-member
            = image_tag "team/jeff.jpg", :width=> "332", :height=> "418"
            %h3
              Jeff Gernand
            %h4
              Director of Meat and Seafood
            %p
              Jeff Gernand, our Director of Meat and Seafood, has over 20 years of experience in the grocery industry, most of which in the natural food and farmers market segments.
              %a#trigger-jeff.trigger Read more...

            %p#more-jeff
              Most recently Jeff held the position of Meat and Seafood Category Manager, where he was responsible for purchasing, sales, marketing, vendor management, policies and procedures. Prior to his time with Sunflower, Jeff held a variety of roles at Wild Oats Markets, Reay’s Ranch Market and Smith’s Food and Drug.

        .span4
          .team-member
            = image_tag "team/colein.jpg", :width=> "332", :height=> "418"
            %h3
              Colein Whicher
            %h4
              Director of Marketing and Strategy
            %p
              Colein Whicher, our Director of Marketing and Strategy, brings 20 years of experience in the natural foods retail industry, ten of which in the Farmers Market segment.
              %a#trigger-colein.trigger Read more...

            %p#more-colein
              Most recently Colein held the roles of Executive Strategic Business Analyst to the CEO and Marketing Director for Sunflower Farmers Markets. Colein has a broad background in natural foods grocery leadership, both on the Marketing and Operations sides of the business, at Wild Oats Markets and Sunflower Farmers Market.

      .row-fluid
        .span4
          .team-member
            = image_tag "team/justin.jpg", :width=> "332", :height=> "418"
            %h3
              Justin Haasch
            %h4
              Director of Real Estate and Market Research
            %p
              Justin Haasch, our Director of Real Estate and Market Research, joined us from Sunflower Farmers Market where he held the role of Business Analyst with a focus on research within the Real Estate department.
              %a#trigger-justin.trigger Read more...

            %p#more-justin
              Justin earned a Master’s Degree in his field of site analytics, demographic/statistical analysis, strategic retail growth and financial analysis. With a five year history on the development side of retail, he has valuable experience with site analytics for retailers, multifamily and hospitality, modeling various national grocers, retail and specialty retailers for development teams.

        .span4
          .team-member
            = image_tag "team/deanna.jpg", :width=> "332", :height=> "418"
            %h3
              Deanna Gernand
            %h4
              Human Resources/Office Manager
            %p
              Deanna Gernand, our Human Resources and Office Manager, has almost 10 years of Office Managing and Human Resources experience in the grocery industry.
              %a#trigger-deanna.trigger Read more...

            %p#more-deanna
              Most recently Deanna held the role of Human Resources Generalist at Sunflower Farmers Markets where she created departmental training programs, policies and procedures and supported employee relations and offered human resources solutions.