-content_for :styles do
  =stylesheet_link_tag 'projects', :media => 'screen'

= form_for @project do |form|
  -if @project.errors.any?
    #error_explanation.alert-message.block-message.error.fade.in{'data-alert' => 'alert'}
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = form.label :name
    = form.text_field :name, {class: 'span6'}
  .field.description_input
    = form.label :description
    = form.text_area :description, {class: 'span6'}
  .field
    = form.label :department_id, "Department"
    =select_tag "project[department_id]", options_from_collection_for_select(@departments, "id", "name", {:selected => @project.department_id })
  .field
    = form.label :priority, :rel => 'twipsy', 'data-original-title' => 'Give important projects lower numbers'
    = form.number_field :priority
  .field
    = form.label :hours_estimate
    = form.text_field :hours_estimate
  .field
    = form.label :user_id, "Directly responsible individual"
    =select_tag "project[user_id]", options_from_collection_for_select(@users, "id", "real_name", {:selected => @project.user_id }), :include_blank => true
  .field
    %label Post on boards
    %ul.unstyled
      - @boards.each do |board|
        %li
          = check_box_tag "project[board_ids][]", board.id, project_on_board?(board)
          = board.name
    / =select_tag "project[board_id]", options_from_collection_for_select(@boards, "id", "name")
  .actions.actions.inner-stand-out-bottom.inner-stand-out-full-width
    = form.submit 'Save', :class => 'btn btn-primary'
