%h1 Listing projects

%table#projects-list.table.table-striped
  %thead
    %tr
      %th Name &amp; Description
      %th Priority
      %th Hours estimate
      %th Directly responsible individual
      %th Created
      %th
      %th
      %th
  %tbody
    - @projects.each do |project|
      -dri = User.find(project.user_id)
      %tr
        %td= project.name
        %td= project.priority
        %td= project.hours_estimate
        %td= dri.real_name
        %td= project.created_at.strftime("%Y-%m-%d")
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete

%p= link_to 'New Project', new_project_path
