-content_for :styles do
  =stylesheet_link_tag 'projects'

%p#notice= notice
.stand-out
  %p.name_label Project
  %h1= @project.name
  %p.description
    = simple_format @project.description
  / .assignment
  /   %p.person_label
  /     %span.label.label-info Directly responsible individual:
  /   %h4.dri
  /     - dri = User.find(@project.user_id)
  /     = dri.real_name
  /   %p.priority
  /     %b Priority:
  /     = @project.priority
  /   %p.hours
  /     %b Hours estimate:
  /     = @project.hours_estimate

.assignments
  %table.table.table-bordered
    %tr
      %th Directly responsible individual
      %th Priority
      %th Hours estimate
    %tr
      %td
        - dri = User.find(@project.user_id)
        = dri.real_name
      %td= @project.priority
      %td= @project.hours_estimate


= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Delete', @project, :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Project List', projects_path
