%h1 Listing boards

%table#boards-list.table.table-striped
  %thead
    %tr
      %th.header Name
      %th.header Position
      %th{:colspan => '3'}
  %tbody
    - @boards.each do |board|
      %tr
        %td= board.name
        %td= board.position
        %td.show= link_to 'Show', board
        %td.edit= link_to 'Edit', edit_board_path(board)
        %td.delete= link_to 'Delete', board, :confirm => 'Are you sure you want to delete the board?', :method => :delete

%p= link_to 'New Board', new_board_path
