%section.stand-out
  %h1= "Add a project to #{@board.name} board"

  =form_tag(project_boards_path(@board))
    =select_tag "project_id", options_from_collection_for_select(@projects, "id", "name")
    .actions.inner-stand-out-bottom.inner-stand-out-full-width
      = form.submit 'Save', :class => 'btn primary'

%p
  = link_to 'Show Board', @board
  \|
  = link_to 'Back', list_boards_path

