<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Base CSS</h1>
  <p class="lead">On top of the scaffolding, basic HTML elements are styled and enhanced with extensible classes to provide a fresh, consistent look and feel.</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#typography">Typography</a></li>
      <li><a href="#tables">Tables</a></li>
      <li><a href="#datatables">DataTables</a></li>
      <li><a href="#forms">Forms</a></li>
      <li><a href="#datepicker">DatePicker</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#code">Code</a></li>
      <li><a href="#icons">Icons</a></li>
    </ul>
  </div>
</header>

<!-- Page Settings
================================================== -->
<% section_path = 'guides/bootstrap/base/' %>
<!-- makes navbar section highlighted -->
<script>$('#base-nav').addClass('active');</script>


<!-- Typography
================================================== -->
<%= render section_path + 'typography' %>

<!-- Tables
================================================== -->
<%= render section_path + 'tables' %>

<!-- DataTables
================================================== -->
<%= render 'guides/data_tables/datatables' %>

<!-- Forms
================================================== -->
<%= render section_path + 'forms' %>

<!-- Datepicker
================================================== -->
<%= render 'guides/datepicker/datepicker' %>

<!-- Typeahead
================================================== -->
<%= render 'guides/bootstrap/javascript/typeahead' %>

<!-- Buttons
================================================== -->
<%= render section_path + 'buttons' %>

<!-- Code
================================================== -->
<%= render section_path + 'code' %>

<!-- Icons
================================================== -->
<%= render section_path + 'icons' %>

