<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Components</h1>
  <p class="lead">Dozens of reusable components are built into Bootstrap to provide navigation, alerts, popovers, and much more.</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Buttons <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#buttonGroups">Button groups</a></li>
          <li><a href="#buttonDropdowns">Button dropdowns</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Navigation <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#navs">Nav, tabs, pills</a></li>
          <li><a href="#navbar">Navbar</a></li>
          <li><a href="#breadcrumbs">Breadcrumbs</a></li>
          <li><a href="#pagination">Pagination</a></li>
        </ul>
      </li>
      <li><a href="#labels">Labels</a></li>
      <li><a href="#badges">Badges</a></li>
      <li><a href="#typography">Typography</a></li>
      <li><a href="#thumbnails">Thumbnails</a></li>
      <li><a href="#alerts">Alerts</a></li>
      <li><a href="#progress">Progress bars</a></li>
      <li><a href="#misc">Miscellaneous</a></li>
    </ul>
  </div>
</header>

<!-- Page Settings
================================================== -->
<% section_path = 'guides/bootstrap/components/' %>
<!-- makes navbar section highlighted -->
<script>$('#components-nav').addClass('active');</script>

<!-- Button Groups
================================================== -->
<%= render section_path + 'button_groups' %>

<!-- Split button dropdowns
================================================== -->
<%= render section_path + 'button_dropdowns' %>

<!-- Nav, Tabs, & Pills
================================================== -->
<%= render section_path + 'nav_tabs_pills' %>

<!-- Tabs
================================================== -->
<%= render 'guides/bootstrap/javascript/tab' %>

<!-- Navbar
================================================== -->
<%= render section_path + 'navbar' %>

<!-- Dropdown
================================================== -->
<%= render 'guides/bootstrap/javascript/dropdown' %>

<!-- ScrollSpy
================================================== -->
<%= render 'guides/bootstrap/javascript/scrollspy' %>

<!-- Breadcrumbs
================================================== -->
<%= render section_path + 'breadcrumbs' %>

<!-- Pagination
================================================== -->
<%= render section_path + 'pagination' %>

<!-- Labels
================================================== -->
<%= render section_path + 'labels' %>

<!-- Badges
================================================== -->
<%= render section_path + 'badges' %>

<!-- Typographic components
================================================== -->
<%= render section_path + 'typography' %>

<!-- Thumbnails
================================================== -->
<%= render section_path + 'thumbnails' %>

<!-- Alerts & Messages
================================================== -->
<%= render section_path + 'alerts' %>

<!-- Alert
================================================== -->
<%= render 'guides/bootstrap/javascript/alert' %>

<!-- Progress bars
================================================== -->
<%= render section_path + 'progress_bars' %>

<!-- Miscellaneous
================================================== -->
<%= render section_path + 'miscellaneous' %>

