<!-- Subhead
================================================== -->
<header class="jumbotron subhead">
  <div class="container">
    <h1>Plugins</h1>
    <p class="lead">Bring components to life with our standard set jQuery plugins.</p>
  </div>
</header>
<!--       <li><a href="#javascript">Index</a></li>
      <li><a href="#modals">Modal</a></li>
      <li><a href="#dropdowns">Dropdown</a></li>
      <li><a href="#scrollspy">Scrollspy</a></li>
      <li><a href="#tabs">Tab</a></li>
      <li><a href="#tooltips">Tooltip</a></li>
      <li><a href="#popovers">Popover</a></li>
      <li><a href="#alerts">Alert</a></li>
      <li><a href="#buttons">Button</a></li>
      <li><a href="#collapse">Collapse</a></li>
      <li><a href="#carousel">Carousel</a></li>
      <li><a href="#typeahead">Typeahead</a></li>
      <li><a href="#cycle">Cycle</a></li>
      <li><a href="#datatables">DataTables</a></li>
      <li><a href="#datepicker">DatePicker</a></li>
      <li><a href="#wymeditor">WYMeditor</a></li> -->
<div class="container main-content">

  <!-- Docs nav
  ================================================== -->
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#overview"><i class="icon-chevron-right"></i> Overview</a></li>
        <li><a href="#transitions"><i class="icon-chevron-right"></i> Transitions</a></li>
        <li><a href="#modals"><i class="icon-chevron-right"></i> Modal</a></li>
        <li><a href="#pretty-photo"><i class="icon-chevron-right"></i> Pretty Photo</a></li>
        <li><a href="#dropdowns"><i class="icon-chevron-right"></i> Dropdown</a></li>
        <li><a href="#scrollspy"><i class="icon-chevron-right"></i> Scrollspy</a></li>
        <li><a href="#tabs"><i class="icon-chevron-right"></i> Tab</a></li>
        <li><a href="#tooltips"><i class="icon-chevron-right"></i> Tooltip</a></li>
        <li><a href="#popovers"><i class="icon-chevron-right"></i> Popover</a></li>
        <li><a href="#alerts"><i class="icon-chevron-right"></i> Alert</a></li>
        <li><a href="#buttons"><i class="icon-chevron-right"></i> Button</a></li>
        <li><a href="#collapse"><i class="icon-chevron-right"></i> Collapse</a></li>
        <li><a href="#carousel"><i class="icon-chevron-right"></i> Carousel</a></li>
        <li><a href="#cycle"><i class="icon-chevron-right"></i> Cycle</a></li>
        <li><a href="#typeahead"><i class="icon-chevron-right"></i> Typeahead</a></li>
        <li><a href="#affix"><i class="icon-chevron-right"></i> Affix</a></li>
        <li><a href="#datatables"><i class="icon-chevron-right"></i> Table</a></li>
        <li><a href="#datepicker"><i class="icon-chevron-right"></i> Date Picker</a></li>
        <li><a href="#wymeditor"><i class="icon-chevron-right"></i> WYMeditor</a></li>
      </ul>
    </div>
    <div class="span9">

<!--       <div style="clear:both;" class="alert alert-error"><strong>To Dos:</strong> We have so many plugins the navigation wraps to two lines on all but
        the widest break point. Sub-navigation with dropdowns is needed here. Considering the following organization (looking for feed back on this
        organization):
      <pre>
      Pop-ups
      - Modal
      - Dropdown
      - Tooltip
      - Popover

      Scrollspy

      Containers
      - Tab
      - Alert
      - Collapse

      Slide Shows (only use cycle and remove the second layer?)
      - Carousel
      - Cycle

      DataTables

      Forms
      - Typeahead
      - Button
      - DatePicker
      - WYMeditor
      </pre>
      The order of these hasn't been thought out.
      </div> -->





      <!-- Page Settings
      ================================================== -->
      <% section_path = 'guides/bootstrap/javascript/' %>
      <!-- makes navbar section highlighted -->
      <script>$('#javascript-nav').addClass('active');</script>

      <!-- Overview
      ================================================== -->
      <%= render section_path + 'overview' %>

      <!-- Transitions
      ================================================== -->
      <%= render section_path + 'transitions' %>

      <!-- Modal
      ================================================== -->
      <%= render section_path + 'modal' %>

      <!-- Dropdown
      ================================================== -->
      <%= render section_path + 'dropdown' %>

      <!-- ScrollSpy
      ================================================== -->
      <%= render section_path + 'scrollspy' %>

      <!-- Tabs
      ================================================== -->
      <%= render section_path + 'tab' %>

      <!-- Tooltips
      ================================================== -->
      <%= render section_path + 'tooltip' %>

      <!-- Popovers
      ================================================== -->
      <%= render section_path + 'popover' %>

      <!-- Alert
      ================================================== -->
      <%= render section_path + 'alert' %>

      <!-- Buttons
      ================================================== -->
      <%= render section_path + 'button' %>

      <!-- Collapse
      ================================================== -->
      <%= render section_path + 'collapse' %>

      <!-- Carousel
      ================================================== -->
      <%= render section_path + 'carousel' %>

      <!-- Cycle
      ================================================== -->
      <%= render section_path + 'cycle' %>

      <!-- Typeahead
      ================================================== -->
      <%= render section_path + 'typeahead' %>

      <!-- Affix
      ================================================== -->
      <%= render section_path + 'affix' %>

      <!-- DataTables
      ================================================== -->
      <%= render 'guides/data_tables/datatables' %>

      <!-- Datepicker
      ================================================== -->
      <%= render 'guides/datepicker/datepicker' %>
    </div><!-- .span9 -->
  </div><!-- .row -->
</div><!-- .container.main-content -->


