= stylesheet_link_tag "index"

.row-fluid
  %header.span9
    %h1 Webstop Front-End Style Guide
    %p.lead The definitive source of styling guidelines for grocery website features.
    %p.lead Build using a simple and flexible collection of HTML5 & CSS3 frameworks for structure and style of user interface elements and components. Plus, Javascript plugins for compeling functionality and interactions.

%h3 Why are we using this, you ask? Good question. Let's look.

.row-fluid
  .span3.feature
    = image_tag "index/ui-icon.png"
    %p This means global base styles for elements such as buttons, forms and typography and standardized jQuery plugins.

  .span3.feature
    = image_tag "index/rapid-dev-icon.png"
    %p Styles and design elements are written for you. Create a page element and it’s styled! We’re also speeding up CSS with SASS.

  .span3.feature
    = image_tag "index/responsive-icon.png"
    %p Our framework is built on a fluid grid. As the viewport is resized the layout changes to fit it. This means support for all devices.

  .span3.feature
    = image_tag "index/customizable-icon.png"
    %p Although we’ve defined global styles the framework is easily constomized to retailers based on their color palette.

.row-fluid
  .span6.ad-block.haml
    = image_tag "index/haml-logo.png"
    %p Haml (HTML abstraction markup language) is a lightweight markup language. It reduces the amount of code you write, automatically formats it in a logical blah blah blah.

  .span6.ad-block.sass
    = image_tag "index/sass-logo.png"
    %p Haml (HTML abstraction markup language) is a lightweight markup language. It reduces the amount of code you write, automatically formats it in a logical blah blah blah.

.row-fluid
  .span6.documentation
    %h3 Documentation
    %p Our framework is meticulously documented. Learn about the grid, base CSS and javascript plugins, what they do, how to implement them and how to test them.

    %h4 What if I can’t find what I’m looking for?
    %p If you need to implement functionality, have searched the framework and can’t find what you’re looking for please see Greg for further direction. Be ready to show where you’ve looked and have any alternatives you’ve found available.

  .span6.quick-links
    .alert.alert-info
      %h3 Quick Links
      %ul.nav.nav-list
        %li test 1
        %li test 2
        %li test 3
        %li test 4
        %li test 5
        %li test 6
