= javascript_include_tag "data-table"

%section
  .container#about-us
    .container-page
      .row-fluid
        %h1.heading.first-heading.major-heading
          Store Locations
        %section
          %table.table{:class => "table-bordered", "data-table" => ""}
            %thead
              %tr.heading.middle-heading
                %th City / Store Name
                %th Address
                %th Phone Number
                %th Website


            %tbody
              - @locations.sort_by { |location| location[:sort] }.each do |location|
                %tr
                  %td
                    %strong= location.city
                    = location.storename
                  %td= location.address
                  %td= number_to_phone(location.phone, area_code: true)
                  %td
                    %strong= link_to location.url, location.url, :target => "_blank"
          %div.clear
