!!!
%html{:lang => "en"}
  %head
    %meta{:charset => 'utf-8'}
    %title Webstop - Digital Marketing Solutions for Grocers
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    /= csrf_meta_tags

    = yield :styles
    / HTML5 shim adds support for HTML5 tags in IE6, IE7 & IE8
    /[if lt IE 9]
      %link{ :src => "http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600"}
      %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

  %body{'data-spy' => 'scroll', 'data-target' => '.navbar'}
    = render :partial => "layouts/header"
    .container
      = render :partial => "layouts/messages"
      = yield
    .footer
      = yield :footer
    = yield :scripts


